*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #09143A;
  --dark-purple: #3F2059;
  --purple: #582F79;
  --light-purple: #7B3B84;
  --dark-teal: #17B4B5;
  --teal: #01E7D3;
  --light-teal: #A4EADF;
  --dark-red: #BA3270;
  --red: #F5557B;
  --light-red: #FF879A;
  --white: #F1EEE9;
  --grey: #E0DACF;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

/* Text Utility Classes */
.text-dark-purple {
  color: var(--dark-purple);
}
.text-purple {
  color: var(--purple);
}
.text-light-purple {
  color: var(--light-purple);
}
.text-dark-teal {
  color: var(--dark-teal);
}
.text-teal {
  color: var(--teal);
}
.text-light-teal {
  color: var(--light-teal);
}
.text-dark-red {
  color: var(--dark-red);
}
.text-red {
  color: var(--red);
}
.text-light-red {
  color: var(--light-red);
}
.text-dark-blue {
  color: var(--dark-blue);
}
.text-white {
  color: var(--white);
}
.text-grey {
  color: var(--grey);
}

/* Background Utility Classes */
.bg-dark-blue{
  background-color: var(--dark-blue);
}
.bg-light-red{
  background-color: var(--light-red);
}
.bg-white{
  background-color: var(--white);
}

/* Header behavior */
h1, h2, h3, h4 {
  font-family: 'Audiowide', sans-serif;
  font-weight: 300;
  
}
h1.main-title {
  font-size: 3.75rem;
  filter: 
    drop-shadow(0 .25rem 0 var(--light-purple)) 
    drop-shadow(0 .35rem 0 var(--purple))
    drop-shadow(0 .45rem 0 var(--light-purple))
    drop-shadow(0 .55rem 0 var(--purple))
    drop-shadow(0 .65rem 0 var(--light-purple));
}

.icons-container {
  background-image: linear-gradient(to top, var(--dark-purple), var(--teal));
  height: 10rem;
  width: 10rem;
}
.icons-container--player {
  mask: url(/img/icon_Player-white.svg) no-repeat;
}
.icons-container--computer {
  mask: url(/img/icon_Computer-white.svg) no-repeat;
}

.icons {
  filter: brightness(0) saturate(100%);
  width: 10rem;
}

.dice {
  color: var(--green);
  font-size: 85px;
  padding: 0 5px;
}

.dice:hover {
  color: var(--d-green);
  cursor: pointer;
}