  // COLORS
  $color-dark-blue: #09143A;
  $color-dark-purple: #3F2059; 
  $color-purple: #582F79;
  $color-light-purple: #7B3B84;
  $color-dark-teal: #17B4B5;
  $color-teal: #01E7D3;
  $color-light-teal: #A4EADF;
  $color-dark-red: #BA3270;
  $color-red: #F5557B;
  $color-light-red: #FF879A;
  $color-white: #F1EEE9;
  $color-grey: #E0DACF;

  // SPACING
  $sp-xl: 3rem;
  $sp-lg: 1.5rem;
  $sp-md: 1rem;

  // BREAKPOINTS
  $brk-sm: 576px;
  $brk-md: 768px;
  $brk-lg: 992px;
  $brk-xl: 1200px;
  $brk-xxl: 1400px;
  $brk-4k: 2592px;
