// COLORS
$color-dark-blue: #13233e;
$color-med-blue: #26357d;
$color-dark-purple: #452F75;
$color-med-purple: #6846af;
$color-light-purple: #B8A7DC;
$color-dark-magenta: #BB257D;
$color-med-magenta: #db4a9f;
$color-dark-green:#59D9B1;
$color-med-green: #9ae8cf;
$color-white: #DEF7F0;
$color-black-purple: #340925;

// FONTS
$font-header: 'Audiowide', sans-serif;
$font-body: 'Roboto Condensed', sans-serif;