aside {
  @include border-glow;
  border: 2px solid $color-white;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: space-evenly;
  margin-bottom: $sp-md;
  padding: $sp-md;
  width: 100%;

  & button {
    border: 0;
    background-color: $color-red;
    border-radius: .5rem;
    color: $color-dark-blue;
    cursor: pointer;
    font-size: 1.5rem;
    margin-bottom: $sp-sm;
    padding: $sp-sm $sp-md;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
    width: 100%;

    &:hover {
      background-color: $color-white;
      color: $color-red;
      filter: 
        drop-shadow(0 0 .25rem $color-red)
        drop-shadow(0 0 .5rem $color-light-red);        
    }
  }

  & .dice-container {
    display: flex;
    float: row;
    justify-content: space-between;

    & i.dice {
      color: $color-teal;
      font-size: 3.5rem;
      transition: all .25s ease-in-out;
  
      &:hover {
        color: $color-white;
        cursor: pointer;
        filter: 
          drop-shadow(0 0 .25rem $color-teal)
          drop-shadow(0 0 .75rem $color-light-teal);
      }
    }
  }
}
@media screen and (min-width: $brk-xl) {
  aside {
    height: 100%;
    margin-bottom: 0;
    margin-right: $sp-lg;
    padding: $sp-lg;
    width: auto;

    & button {
      margin-bottom: $sp-md;
    }

    & .dice-container {
      flex-direction: column;

      & i.dice {
        font-size: 6.5rem;
      }
    }
  }
}