section.modal__backdrop {
	background-color: #000;
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity .25s ease-in-out;

	&.open {
		opacity: .55;
	}
}

.modal__window {
	@include border-glow;
	background-color: $color-dark-blue;
	border: 2px solid $color-white;
	border-radius: .5rem;
	opacity: 0;
	padding: 2rem;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 35%;
	left: 50%;
	z-index: 5;
	transition: opacity .35s ease-in-out .25s;

	&.open {
		opacity: 1;
	}

	& .modal__message {
		font-size: 1.5rem;
	}
}