article {
  @include border-glow;
  border: 2px solid $color-white;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 2; 
  height: 100%;
  max-height: 70vh;
  opacity: 1;
  overflow: visible;
  transition: 
    opacity .35s ease-in-out, 
    max-height .35s ease-in-out;

  &.hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }

  & div.scoreboard__header {    
    align-items: center;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: $sp-lg;
    padding-bottom: $sp-md;
    
    & img.icons {
      filter:
        drop-shadow(0 0 .25rem $color-teal)
        drop-shadow(0 0 .75rem $color-light-teal);
      height: 5.5rem;
      margin-right: $sp-lg;
      width: 5.5rem;
    }
  }

  & div.scoreboard__board {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: $sp-lg;
    padding-bottom: 0;
    width: 100%;

    & div.scoreboard__btn-container {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: $sp-sm;
      width: 100%;

      & button {
        border: 0;
        background-color: $color-red;
        border-radius: .5rem;
        color: $color-dark-blue;
        cursor: pointer;
        font-size: 1rem;
        margin-right: $sp-md;
        padding: $sp-sm $sp-md;
        text-transform: capitalize;
        transition: all .25s ease-in-out;
        width: 75%;

        &:hover {
          background-color: $color-white;
          color: $color-red;
          filter: 
            drop-shadow(0 0 .25rem $color-red)
            drop-shadow(0 0 .5rem $color-light-red);        
        }
      }

      h3 {
        transition: all .25s ease-in-out;
      }
    }
  }

  & .scoreboard__total {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $sp-md 0 $sp-xl;

    & h2 {
      color: $color-red;
      line-height: 1;

      &:first-of-type {
        margin-right: $sp-lg;
      }
    }    
  }
}

@media screen and (min-width: $brk-md) {
  main {
    padding: 0 1.5rem;
  }
  article {

    & div.scoreboard__board {
      flex-direction: row;
      flex-wrap: wrap;

      & div.scoreboard__btn-container {
        margin-bottom: $sp-md;
        width: 50%;
      }
    }
  }    
}

@media screen and (min-width: $brk-xl) {
  main {
    padding: 0 1rem;
  }

  article {

    & div.scoreboard__header {

      & img.icons {
        height: 8rem;
        margin-right: $sp-xl;
        width: 8rem;
      }
    }

    & div.scoreboard__board {

      & div.scoreboard__btn-container {
        justify-content: end;
        margin-bottom: $sp-lg;
        padding: 0 $sp-sm;
        width: 33.3333%;

        & button {
          flex-grow: 1;
          font-size: 1.25rem;
          min-width: 50%;
          width: auto;
        }
      }
    }

    & .scoreboard__total {
      padding: 0 0 $sp-xl;
    }
  }    
}